extends layout

block headvars
  - var title = "Blog"
  - var whyLogin = "Adding posts is restricted with OAuth"
  script
    if posts.length > 0
      | var initial = #{posts[0].id};
      | var offset = #{posts.length-1};
    | var count = #{count};
    if bounds.min !== null  && bounds.max !== null
      | var bounds = {min:#{bounds.min}, max:#{bounds.max}};
    include fragments/gplus.js
    include fragments/blog.js

block content
  include fragments/gbutton.jade
  .content#blog-content
    div.main-title
      h1 #{title}
    div.create-post.requires-login
      a(href='/blog/createPost') Create New Post
    if !atNewest
      button.show-newer.show-more Show Newer Posts
    div.posts
      div.latest.post-group
        - for (var i in posts)
          .post
            h2.title #{posts[i].title} 
              span.permalink (
                a(href="/blog/post/#{posts[i].id}") Permalink
                | )
            h3.date #{posts[i].created_at.toLocaleDateString()}, #{posts[i].created_at.toLocaleTimeString()}
            .body
              !{posts[i].body}

    if !atOldest
      button.show-older.show-more Show Older Posts
    .footer
      p • This blog is built on my homegrown 
        a(href='https://www.npmjs.com/package/node-mysql-blog-api') node-mysql-blog-api
        | . Check it out on 
        a(href='https://github.com/lental/node-mysql-blog-api') Github
        | .