extends layout

block headvars
  - var title = "Blog - Edit"
  script
    include fragments/gplus.js
    include fragments/blog-edit.js

block content
  include fragments/gbutton.jade
  .content#blog-edit-content
    div.main-title
      h1 #{title}
    p This will be the #{title}

    form#blog-form()
      if post
        div.back
          p • 
            a(href='/#{post.id}') Go back to viewing the blog post
        input#title-text(type='text', name='title', placeholder='Title' value="#{post.title}")
        textarea#body-text(name='body', placeholder='Body') #{post.body}
        input#id(type='hidden', name='id' value="#{post.id}")
      else
        input#title-text(type='text', name='title', placeholder='Title')
        textarea#body-text(name='body', placeholder='Body') 
        input#id(type='hidden', name='id')

      input#code(type='hidden', name='code')

      input#submit(type='submit')
      span#error
      span#result

    .footer
      p • This blog is built on my homegrown 
        a(href='https://www.npmjs.com/package/node-mysql-blog-api') node-mysql-blog-api
        | . Check it out on 
        a(href='https://github.com/lental/node-mysql-blog-api') Github
        | .