extends layout

block headvars
  - var title = "Blog"
  - var whyLogin = "Editing is restricted with OAuth"
  script
    include fragments/gplus.js
    include fragments/blog-post.js

block content
  include fragments/gbutton.jade
  .content#blog-content
    div.main-title
      h1 #{post.title}
    .post
      h3 #{post.created_at}
      p #{post.body}
    .footer
      div.back
        p • 
          a(href='/blog/#{post.id}') Go back to blog
      div.edit-post
        p • 
          a(href='#{post.id}/edit') edit this post
      p • This blog is built on my homegrown 
        a(href='https://www.npmjs.com/package/node-mysql-blog-api') node-mysql-blog-api
        | . Check it out on 
        a(href='https://github.com/lental/node-mysql-blog-api') Github
        | .