extends layout

block headvars
  - var title = "Blog"
  - var whyLogin = "Editing posts is restricted with OAuth"
  script
    include fragments/gplus.js
    include fragments/blog-post.js

block content
  .content#blog-post-content
    div.back
      p 
        a(href='/blog/#{post.id}') Go back to blog
    .post
      div.main-title
        h1.title #{post.title}
      h3.date #{post.created_at}
      .body
        !{post.body}
    .footer
      div.edit-post
        p • 
          a(href='#{post.id}/edit') edit this post
      p • This blog is built on my homegrown 
        a(href='https://www.npmjs.com/package/node-mysql-blog-api') node-mysql-blog-api
        | . Check it out on 
        a(href='https://github.com/lental/node-mysql-blog-api') Github
        | .
  include fragments/gbutton.jade